body{
    background: white;
    font-family:Varela Round;
    color: white;
    text-align: justify;
}

.highlight{
    color: rgba(16, 16, 16, 0.98);
    font-weight: bolder;
}

.talking{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

li.talking{
    margin-bottom: 3px;
}

h1{
    font-family:Varela Round;
    font-weight: bolder;
    text-align: center;
}

iframe{
    width: 100%;
}

.container{
    border-radius: 15px;
    text-align: center;
    background-image: linear-gradient(to right bottom, #f8a546, #f98940, #f76a43, #f1484a, #e71655);
    -webkit-box-shadow: 6px 6px 7px -1px rgba(255,143,13,0.45);
    -moz-box-shadow: 6px 6px 7px -1px rgba(255,143,13,0.45);
    box-shadow: 6px 6px 7px -1px rgba(255,143,13,0.45);
    padding:20px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 95%;
}

.h1container{
    color: black;
    font-weight: bolder;
    border-radius: 15px;
    padding:5px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 98%;
}

.main{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
ul{
    text-align: left;
}

.btn {
    border-radius: 15px;
    cursor: pointer;
    background-image: linear-gradient(to right, white, #ff8f0d);
    background-position: right center;
    color: #262525;
    font-family:Varela Round;
    font-weight: bolder;
    text-align: center;
    border: none;
    display: inline-block;
    padding:5px;
    width: 50%;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
}

.btn:hover{
    background-color: white;
    color: #262525;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    .main{
        width: 100%;
    }
    .containerD{
        width: 95%;
    }
    .container{
        width: 90%;
    }

    .talking{
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}