body{
    background: #69ff63;
    font-family:Varela Round;
    color: white;
    text-align: justify;
}

h1{
    font-family:Varela Round;
    font-weight: bolder;
    text-align: center;
}

iframe{
    width: 100%;
}

.container{
    text-align: center;
    background-color: #262525;
    padding:20px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 98%;
}

.main{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
ul{
    text-align: left;
}

.btn {
    cursor: pointer;
    background-color: #70ff6b;
    color: #262525;
    font-size: 100%;
    text-align: center;
    border: none;
    display: inline-block;
    padding:5px;
    width: 50%;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
}

.btn:hover{
    background-color: white;
    color: #262525;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    .main{
        width: 100%;
    }
    .containerD{
        width: 95%;
    }
    .container{
        width: 90%;
    }
}